---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Resources from '../components/Resources.astro';
import NuitInfo from '../components/NuitInfo.astro';
import Membership from '../components/Membership.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Association Info Evry - Etudiants en Informatique">
  <Header />
  <main>
    <Hero />
    <About />
    <Resources />
    <NuitInfo />
    <Membership />
  </main>
  <Footer />
</Layout>
